# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs


# IDEA
.idea

# other
data/
github/
test/
data/dataCopy.dmg
data/dataCopy.txt
Would skip repository github/node-reverse-proxy.js
test/data.txt
test/data2.txt
test/dataCopy.txt
test/server.js
test/server0.js
test/server_1.js
